modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["chromedriver", "chromium", "geckodriver"]

[workflows]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 41413
externalPort = 3000
