python-telegram-bot==13.15
requests==2.31.0
beautifulsoup4==4.12.2
Flask==2.3.3
gunicorn==21.2.0
beautifulsoup4
Flask
gunicorn
python-telegram-bot
requests
beautifulsoup4==4.12.2
Flask==2.3.3
gunicorn==21.2.0
python-telegram-bot==13.15
requests==2.31.0
beautifulsoup4==4.12.2
Flask==2.3.3
gunicorn==21.2.0
python-telegram-bot==13.15
requests==2.31.0
2captcha-python
cloudscraper
selenium
undetected-chromedriver
curl-cffi
PySocks
2captcha-python
beautifulsoup4==4.12.2
cloudscraper
curl-cffi
Flask==2.3.3
gunicorn==21.2.0
PySocks
python-telegram-bot==13.15
requests==2.31.0
selenium
undetected-chromedriver
